extends layout

block content

    if user
        h3 Welcome #{user.username}
        if user.isMember
            form(method='post')
                input(placeholder='Message title' name='title')
                textarea(placeholder='Your message' name='text')
                button.btn(type='submit') Post
        else
            form(method='post' action='authorize')
                input(placeholder='Enter passcode to become a member' name='passcode')
                button.btn(type='submit') Submit
        if errors
            ul
                each error in errors
                    li=error.msg
    
    each message in messages
        .message
            h3=message.title
            p=message.text
        if user && user.isMember
            .details
                .author #{message.author.firstName} #{message.author.lastName}
                .time=message.time
    