extends layout

block content

    if user
        h3 Welcome #{user.username}
        form(method='post')
            input(placeholder='Message title' name='title')
            textarea(placeholder='Your message' name='text')
            button.btn(type='submit') Post
        if errors
            ul
                each error in errors
                    li=error.msg
    
    each message in messages
        .message
            h3=message.title
            p=message.text
        if user
            .author #{message.author.firstName} #{message.author.lastName}
    